name: q8
description: TPC-H Query 08 - National Market Share Query
variables:
  enable_bf: 1
  enable_nfs_shuffle: $enable_nfs_shuffle
  bucket: $bucket
  base_path: $base_path
  s3_metadata: $s3_metadata/$bucket.json
  nfs_folder: /mnt/filters
  parm1: $parm1
  parm2: $parm2
  parm3: $parm3
steps:
- name: step1-region
  func: scan
  input: s3://$bucket/region.parquet
  from_previous_task: None
  params:
    select: SELECT r_regionkey
    sql_clauses: "WHERE r_name = '$parm2'\n  AND r_regionkey IS NOT NULL\n"
    output_file: $base_path/$task_name/$random.parquet
- name: step1-region--combine
  func: aggregate
  from_previous_task: step1-region
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step2-nation
  func: scan
  input: s3://$bucket/nation.parquet
  params:
    select: SELECT n_nationkey, n_name, n_regionkey
    sql_clauses: 'WHERE n_nationkey IS NOT NULL

      '
    output_file: $base_path/$task_name/$random.parquet
- name: step2-nation--combine
  func: aggregate
  from_previous_task: step2-nation
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step3-join-region-nation
  func: broadcast_join
  from_previous_task:
  - step1-region--combine
  - step2-nation--combine
  params:
    probe_select: SELECT n_nationkey, n_name
    join_condition: r_regionkey = n_regionkey
    output_file: $base_path/$task_name/$random.parquet
- name: step3-join-region-nation--combine
  func: aggregate
  from_previous_task: step3-join-region-nation
  params:
    output_file: $base_path/$task_name/$random.parquet
    bf_column: n_nationkey
    bf_path: /mnt/filters/$task_name/$random.bin
    est_elements: 25
- name: step3-join-region-nation--mergebf
  func: merge_bf
  from_previous_task: step3-join-region-nation--combine
  params:
    file_output: /mnt/filters/$task_name/$random.bin
    error_rate: 0.001
- name: step4-customer
  func: scan
  input: s3://$bucket/customer.parquet
  from_previous_task: step3-join-region-nation--mergebf
  params:
    select: SELECT c_custkey, c_nationkey
    sql_clauses: "WHERE c_custkey IS NOT NULL\n  AND c_nationkey IS NOT NULL\n"
    output_file: $base_path/$task_name/$random.parquet
    bf_column: c_nationkey
    filter_by_bf: true
- name: step4-customer--combine
  func: aggregate
  from_previous_task: step4-customer
  params:
    output_file: $base_path/$task_name/$random.parquet
  max_size_mb: 10
- name: step5-part
  func: scan
  input: s3://$bucket/part.parquet
  from_previous_task: None
  params:
    select: SELECT p_partkey
    sql_clauses: "WHERE p_type = '$parm3'\n  AND p_partkey IS NOT NULL\n"
    output_file: $base_path/$task_name/$random.parquet
- name: step5-part--combine
  func: aggregate
  from_previous_task: step5-part
  params:
    output_file: $base_path/$task_name/$random.parquet
    bf_column: p_partkey
    bf_path: /mnt/filters/$task_name/$random.bin
    est_elements: 800000
  max_size_mb: 1000
- name: step5-part--mergebf
  func: merge_bf
  from_previous_task: step5-part--combine
  params:
    file_output: /mnt/filters/$task_name/$random.bin
    error_rate: 0.001
- name: step6-orders
  func: scan
  input: s3://$bucket/orders.parquet
  from_previous_task: None
  params:
    select: SELECT o_orderkey, o_custkey, o_orderdate
    sql_clauses: "WHERE o_orderdate >= DATE '1995-01-01'\n  AND o_orderdate <= DATE\
      \ '1996-12-31'\n  AND o_custkey IS NOT NULL\n  AND o_orderkey IS NOT NULL\n"
    output_file: $base_path/$task_name/$random.parquet
- name: step6-orders--combine
  func: aggregate
  from_previous_task: step6-orders
  params:
    output_file: $base_path/$task_name/$random.parquet
  max_size_mb: 10
- name: step7-lineitem
  func: scan
  input: s3://$bucket/lineitem.parquet
  from_previous_task: step5-part--mergebf
  params:
    select: SELECT l_orderkey, l_partkey, l_suppkey, l_extendedprice, l_discount
    sql_clauses: "WHERE l_orderkey IS NOT NULL\n  AND l_partkey IS NOT NULL\n  AND\
      \ l_suppkey IS NOT NULL\n"
    output_file: $base_path/$task_name/$random.parquet
    bf_column: l_partkey
    filter_by_bf: true
  max_size_mb: 200
- name: step7-lineitem--combine
  func: aggregate
  from_previous_task: step7-lineitem
  params:
    output_file: $base_path/$task_name/$random.parquet
  max_size_mb: 10
- name: step8-supplier
  func: scan
  input: s3://$bucket/supplier.parquet
  from_previous_task: None
  params:
    select: SELECT s_suppkey, s_nationkey
    sql_clauses: "WHERE s_suppkey IS NOT NULL\n  AND s_nationkey IS NOT NULL\n"
    output_file: $base_path/$task_name/$random.parquet
- name: step8-supplier--combine
  func: aggregate
  from_previous_task: step8-supplier
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step9-nation2
  func: scan
  input: s3://$bucket/nation.parquet
  from_previous_task: None
  params:
    select: SELECT n_nationkey, n_name
    sql_clauses: 'WHERE n_nationkey IS NOT NULL

      '
    output_file: $base_path/$task_name/$random.parquet
- name: step9-nation2--combine
  func: aggregate
  from_previous_task: step9-nation2
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step10-join-customer-orders
  func: broadcast_join
  from_previous_task:
  - step4-customer--combine
  - step6-orders--combine
  params:
    probe_select: SELECT o_orderkey, o_orderdate
    join_condition: c_custkey = o_custkey
    output_file: $base_path/$task_name/$random.parquet
  max_size_mb: 25
- name: step10-join-customer-orders--combine
  func: aggregate
  from_previous_task: step10-join-customer-orders
  params:
    output_file: $base_path/$task_name/$random.parquet
  max_size_mb: 10
- name: step11-join-lineitem
  func: broadcast_join
  from_previous_task:
  - step10-join-customer-orders--combine
  - step7-lineitem--combine
  params:
    probe_select: SELECT l_partkey, l_suppkey, l_extendedprice, l_discount, o_orderdate
    join_condition: o_orderkey = l_orderkey
    output_file: $base_path/$task_name/$random.parquet
  max_size_mb: 25
- name: step11-join-lineitem--combine
  func: aggregate
  from_previous_task: step11-join-lineitem
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step12-join-part
  func: broadcast_join
  from_previous_task:
  - step5-part--combine
  - step11-join-lineitem--combine
  params:
    probe_select: SELECT l_suppkey, l_extendedprice, l_discount, o_orderdate
    join_condition: l_partkey = p_partkey
    output_file: $base_path/$task_name/$random.parquet
- name: step12-join-part--combine
  func: aggregate
  from_previous_task: step12-join-part
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step13-join-supplier
  func: broadcast_join
  from_previous_task:
  - step8-supplier--combine
  - step12-join-part--combine
  params:
    probe_select: SELECT s_nationkey, l_extendedprice, l_discount, o_orderdate
    join_condition: l_suppkey = s_suppkey
    output_file: $base_path/$task_name/$random.parquet
- name: step13-join-supplier--combine
  func: aggregate
  from_previous_task: step13-join-supplier
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step14-join-nation2
  func: broadcast_join
  from_previous_task:
  - step9-nation2--combine
  - step13-join-supplier--combine
  params:
    probe_select: "SELECT n_name AS nation,\n       YEAR(o_orderdate) AS o_year,\n\
      \       l_extendedprice * (1 - l_discount) AS volume\n"
    join_condition: s_nationkey = n_nationkey
    output_file: $base_path/$task_name/$random.parquet
- name: step14-join-nation2--combine
  func: aggregate
  from_previous_task: step14-join-nation2
  params:
    output_file: $base_path/$task_name/$random.parquet
- name: step15-agg
  func: aggregate
  from_previous_task: step14-join-nation2--combine
  params:
    select: "SELECT o_year,\n       SUM(CASE WHEN nation = '$parm1' THEN volume ELSE\
      \ 0 END) / SUM(volume) AS mkt_share\n"
    sql_clauses: 'GROUP BY o_year ORDER BY o_year

      '
    output_file: $base_path/$task_name/$random.parquet
- name: step16-summary-clean
  func: summary_clean
  params:
    output_s3: $base_path
    nfs_folder: /mnt/filters
    is_delete: true
